<div class="about-section">
  <h1>About Me Page</h1>
  
</div>

<h2 style="text-align:center">Person Behind this App</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://www.elfordcreativepublishing.com/wp-content/uploads/2020/06/WhatsApp_Image_2020-04-08_at_9-removebg-preview-1.png" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Shivathmaj Shenoy</h2>
        <p class="title">Ruby On Rails Developer</p>
        <p> Hello Everyone I'm a curious learner! I am exploring Ruby on Rails at the current moment. </p>
        <p>shivathmajshenoy@gmail.com</p>
        
      </div>
    </div>
  </div>



</div>